.gradle
local.properties
/.idea/
.DS_Store
build/
captures/
*.iml
ios/whatson/DerivedData
ios/whatson/GoogleService-Info.plist
ios/whatson/.idea/
ios/core/whatson-core/DerivedData/
Ios/whatson/j2objc/
ios/whatson/whatson.xcodeproj/xcuserdata/
ios/whatson/whatson.xcodeproj/project.xcworkspace/xcuserdata/

**/GoogleService-Info.plist