.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.iml
ios/whatson/DerivedData
ios/core/whatson-core/DerivedData/
ios/whatson/whatson.xcodeproj/project.xcworkspace/xcuserdata/amlcurran.xcuserdatad/UserInterfaceState.xcuserstate

ios/whatson/whatson.xcodeproj/xcuserdata/amlcurran.xcuserdatad/xcschemes/whatson.xcscheme

ios/whatson/whatson.xcodeproj/xcuserdata/amlcurran.xcuserdatad/xcschemes/xcschememanagement.plist
ios/whatson/whatson.xcodeproj/xcuserdata/amlcurran.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
